# Note: These values will come from your BigQuery account and GCP projects.

# Test Environment field definitions
# Name of a GCP project you don't have access to query.
BIGQUERY_TEST_NO_ACCESS_DATABASE=
# Authentication method required to hookup to BigQuery via client library.
BIGQUERY_TEST_SERVICE_ACCOUNT_JSON='{}'

# tests for local ci/cd
DBT_TEST_USER_1="group:buildbot@dbtlabs.com"
DBT_TEST_USER_2="group:engineering-core-team@dbtlabs.com"
DBT_TEST_USER_3="serviceAccount:dbt-integration-test-user@dbt-test-env.iam.gserviceaccount.com"

# only needed for python model
DATAPROC_REGION=us-
DATAPROC_CLUSTER_NAME=
GCS_BUCKET=
