BIGQUERY_TEST_ALT_DATABASE=
BIGQUERY_TEST_NO_ACCESS_DATABASE=
BIGQUERY_TEST_SERVICE_ACCOUNT_JSON='{}'

# tests for local ci/cd
DBT_TEST_USER_1="group:buildbot@dbtlabs.com"
DBT_TEST_USER_2="group:engineering-core-team@dbtlabs.com"
DBT_TEST_USER_3="serviceAccount:dbt-integration-test-user@dbt-test-env.iam.gserviceaccount.com"
